

.react-calendar {
    min-width:50%;
    color:#E42346;
    background: #0D0C1D;
    border: 1px solid #0D0C1D;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    border-radius: 20px;
    min-height : 100%;
    opacity: 0.9;

}
.react-calendar button{
    opacity:1.0;

    color:#FFFFFF;
    border-radius : 30px;
    font-size : 33px;
}
.react-calendar__tile:enabled:hover
 {
  background-color:#E42346;
}
.react-calendar__tile--now {
  background-color:#E42346;
}


.mainbox{
    width:100%;
display: flex;
    flex-direction: column;
    padding-left: 7%;
    padding-right: 10%;
}

.sleepingdiv {
    display: flex;
    grid-gap: 20px;
}
.css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root,.css-e0yuwi{
    border-bottom: 2px solid #E42346;
}

.tolist{
    position : relative;
    border-radius : 20px;
    padding : 20px;
    margin : 0px;
    list-style-type : none;
}
.list{
    min-width : 50%;
    list-style-type : none;
    padding : 20px;
}


.dailyquote{
    border-radius : 20px;
    background-color : #0D0C1D;
    color:#FFFFFF;
    opacity:0.9;
    padding : 20px;
    word-wrap: break-word;
    min-width : 98%;
}
.linebreak{
    word-wrap : break-word;
}

.standingdiv{
    height : 100%;
    display : flex;
    flex-direction : column;
    grid-gap : 15px;
    padding : 20px;
    width : 100%;
}
.bottom{
    position : absolute;
    bottom : 10px;
    border : 1px solid black;
    margin : 10px;
    padding : 20px;
    border-radius : 20px;
}
.compose{
    min-width : 50%;
    display : flex;
    flex-direction : column;
    grid-gap : 20px;
}

.listdiv{
    position : relative;
    border-radius : 20px;
    background-color : #0D0C1D;
    color:#FFFFFF;
    opacity:0.9;
    padding : 20px;
    margin : 0px;
    list-style-type : none;
}

.head{
    float : left;
}
.userinfo{
  
    float : right;
}

.addwork{
    display : flex;
    grid-gap : 15px;
    justify-content : space-around;
    flex-direction : column;
}




.col-3{
    float: left;
    position: relative;
}

input[type="text"]{
    font-size : 19px;
    background-color : transparent;
    color:white; 
    width: 100%; 
    box-sizing: border-box;
    letter-spacing: 1px;
    border-radius : 20px;
    border : 2px solid #E42346;
}

.effect-8{border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;}


.subbut{
    padding : 20px;
    border-radius : 20px;
    background-color : transparent;
    border-radius : 3px solid;
    border-color : #E42346;
    color : white;
    font-size : 25px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #E42346;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #E42346;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #E42346;
}


