.react-calendar {
    width:50%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    border-radius: 20px;
    min-height :0px;

}
.react-calendar button{
    border-radius : 30px;
    font-size : 1.3vw;
}

.mainbox{
    padding-left : 7vh;
    padding-right : 7vh;
}

.sleepingdiv{
    display : flex;
    grid-gap : 20px;
    padding : 20px;
    max-height : 65vh;
}

.tolist{
    position : relative;
    width : 50%;
    border-radius : 20px;
    background-color : #dfdbe5;
    padding : 20px;
    margin : 0px;
    list-style-type : none;
}
.list{
    list-style-type : none;
    padding : 0px;
}


.dailyquote{
    font-size : 22px;
    border-radius : 20px;
    background-color : #dfdbe5;
    padding : 20px;
    line-height : 15px;
    word-wrap: break-word;
    max-height : 15vh;
}
.linebreak{
    word-wrap : break-word;
}

.standingdiv{
    display : flex;
    flex-direction : column;
    min-height :100vh;
    grid-gap : 15px;
}
.bottom{
    position : absolute;
    bottom : 10px;
    border : 1px solid black;
    margin : 10px;
    padding : 20px;
    border-radius : 20px;
}
